$font-heebo-regular: 'Heebo-Regular';
$font-heebo-medium: 'Heebo-Medium';
$font-heebo-bold: 'Heebo-Bold';

$color-black: #000;
$color-black-light: rgba(0, 0, 0, 0.54);
$color-gray: #9E9E9E;
$color-blue: #045FAF;

$bg-main: #F2F2F2;
$bg-gray: rgba(0, 0, 0, 0.0956);
